.container {
    margin-top: 10px;
}

.green_label {
    color: #43aa38 !important;
}

.header_div {
    /*margin-bottom: 40px;*/
    /*padding-bottom: 20px;*/
    text-align: center;
    /*border-bottom: 1px solid #e3e3e3;*/
}

#frmSettings {
    display: none;
    position: absolute;
    background: #e3ffdc;
    border: 2px solid #e3ffdc;
    border-radius: 10px;
    padding: 15px;

    -webkit-box-shadow: 0px 6px 28px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 6px 28px -1px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 6px 28px -1px rgba(0, 0, 0, 0.39);

}

#frmSettings:after, #frmSettings:before {
    bottom: 100%;
    left: 200px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

#frmSettings:after {
    border-color: rgba(236, 236, 236, 0);
    border-bottom-color: #e3ffdc;
    border-width: 10px;
    margin-left: -10px;
}

#frmSettings:before {
    border-color: rgba(236, 236, 236, 0);
    border-bottom-color: #e3ffdc;
    border-width: 16px;
    margin-left: -16px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;

    color: #696969;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+41,e1e1e1+100,f6f6f6+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 41%, #e1e1e1 100%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 41%, #e1e1e1 100%, #f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 41%, #e1e1e1 100%, #f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */
}
#main_pagination {
    display: block;
}


@media only screen and (max-width: 450px) {
    body {
        /*background-color: lightblue;*/

    }
    .header_div {
        /*text-align: left;*/
    }
    #main_nav {
        display: block;
    }

    #mobile_nav {
        display: block;

    }
    .adjust_text24{
        font-size: 24px !important;
    }
    .adjust_text20{
        font-size: 20px !important;
    }
    .adjust_text16{
        font-size: 16px !important;
    }

}